@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme{
    --font-montserrat: montserrat,"sans-serif";
    --font-comic : "Comic Relief", system-ui;
}
